#!upstart

description "Start Kibana server"

start on (local-filesystems and runlevel [2345])
stop on runlevel [!2345]

respawn

limit nofile 65536 65536
console log
chdir {{kibana_home}}/www
# setuid {{kibana_user}}

env NODE_ENV=production

exec ./bin/kibana --config={{kibana_home}}/kibana.yml
